@{
    ViewBag.Title = "Officer Served System";

    var listItems = new List<SelectListItem>
    {
        new SelectListItem
        {
            Text = "-Select-",
            Value = "0",
            Selected = true
        },
        new SelectListItem
        {
            Text = "Yes",
            Value = "1"
        },
        new SelectListItem
        {
            Text = "No",
            Value = "2"
        }
    };
}
@model PoliceServeSystem.ViewModels.ServedStatusDetail
@if (ViewBag.Message != null)
{
    <script>
        $(document).ready(function () {
            alert('@ViewBag.Message');
        })
    </script>
}
<script type="text/javascript">
    $(document).ready(function () {
        var p = $('#signPad1').signaturePad({
            drawOnly: true,
            penColour: 'black'
        });
        $("#btnClear").click(function () {
            p.clearCanvas();
        });
    });
</script>
@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="row">
            <H3>General Info</H3>
        </div>
        @Html.ValidationSummary(true)
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label>WarrantNo</label>
                    @Html.TextBoxFor(model => model.WarrantNo, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input type="submit" value="Get Info" class="btn btn-info" />
                </div>
            </div>
        </div>
        <div class="row">
            <h3>Accused Info</h3>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label>CaseNo</label>
                    @Html.TextBoxFor(model => model.CaseNo, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>AccusedNo</label>
                    @Html.TextBoxFor(model => model.AccusedNo, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label>First Name</label>
                    @Html.TextBoxFor(model => model.AccusedFirstName, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>Last Name</label>
                    @Html.TextBoxFor(model => model.AccusedLastName, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>Middel Name</label>
                    @Html.TextBoxFor(model => model.AccusedMiddleName, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Street</label>
                    @Html.TextBoxFor(model => model.AccusedStreet, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>City</label>
                    @Html.TextBoxFor(model => model.AccusedCity, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>State</label>
                    @Html.TextBoxFor(model => model.AccusedState, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>Zip</label>
                    @Html.TextBoxFor(model => model.AccusedZip, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>Tel</label>
                    @Html.TextBoxFor(model => model.AccusedTel, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row">
            <h3>Offense Info</h3>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Offense Name</label>
                    @Html.TextAreaFor(model => model.OffenseName, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Offense Type</label>
                    @Html.TextBoxFor(model => model.OffenseType, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row">
            <h3>Served Info</h3>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label>Served Times</label>
                    @Html.TextBoxFor(model => model.ServedTimes, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Served Date</label>
                    @Html.TextBoxFor(model => model.ServedDate, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Result</label>
                    @Html.TextAreaFor(model => model.Result, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-sm-1">
                <div class="form-group">
                    <label>Served</label>
                    @Html.DropDownListFor(m => m.IsServed, listItems, "-Select-")
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Served By</label>
                    @Html.TextBoxFor(model => model.ServedBy, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    @Html.ActionLink("Edit", "NewServe", new { id = ViewBag.WarrantNo })
                    @*@Html.ActionLink("Edit", "EditCase")*@
                </div>
            </div>
        </div>
    </div>
}
