@{
    ViewBag.Title = "Officer Served System";

    var listItemsIsServed = new List<SelectListItem>
    {
        new SelectListItem
        {
            Text = "-Select-",
            Value = "-Select-",
            Selected = true
        },
        new SelectListItem
        {
            Text = "Yes",
            Value = "Yes"
        },
        new SelectListItem
        {
            Text = "No",
            Value = "No"
        }
    };
    var listItemsResult = new List<SelectListItem>
    {
        new SelectListItem
        {
            Text = "-Select-",
            Value = "-Select-",
            Selected = true
        },
        new SelectListItem
        {
            Text = "Moved",
            Value = "Moved",
        },
        new SelectListItem
        {
            Text = "Run away",
            Value = "Run away"
        },
        new SelectListItem
        {
            Text = "Not home",
            Value = "Not home"
        },
        new SelectListItem
        {
            Text = "Other",
            Value = "Otherr"
        }
    };

}
@model PoliceServeSystem.ViewModels.ServedStatusDetail

<script type="text/javascript">
    $(document)
        .ready(function() {
            var p = $('#signPad1')
                .signaturePad({
                    drawOnly: true,
                    penColour: 'black'
                });
            $("#btnClear")
                .click(function() {
                    p.clearCanvas();
                });
        });
</script>

@using (Html.BeginForm())
{
    <div>
        @if (TempData["success"] != null)
        {
            <p>@TempData["success"]</p>
        }
        <div class="row">
            <H4>General Info</H4>
        </div>
        @Html.ValidationSummary(true)
        <div class="row">
            <div class="col-ms-5">
                <div class="form-group">
                    <label>WarrantNo</label>
                    @Html.TextBoxFor(model => model.WarrantNo, new { style = "width:150px" })
                    <input type="submit" value="Get Info" class="btn btn-info" />
                </div>
            </div>
        </div>
        <div class="row">
            <h3>Accused Info</h3>
        </div>
        <div class="row">
            <div class="form-group">
                <label>CaseNo</label>
                @Html.TextBoxFor(model => model.CaseNo, new { disabled = "disable", style = "width:100px" })
                <label>AccusedNo</label>
                @Html.TextBoxFor(model => model.AccusedNo, new { disabled = "disable", style = "width:50px" })
                <label>First Name</label>
                @Html.TextBoxFor(model => model.AccusedFirstName, new { disabled = "disable", style = "width:100px" })
                <label>Last Name</label>
                @Html.TextBoxFor(model => model.AccusedLastName, new { disabled = "disable", style = "width:100px" })
                <label>Middel Name</label>
                @Html.TextBoxFor(model => model.AccusedMiddleName, new { disabled = "disable", style = "width:100px" })
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label>Street</label>
                @Html.TextBoxFor(model => model.AccusedStreet, new { disabled = "disable" })
                <label>City</label>
                @Html.TextBoxFor(model => model.AccusedCity, new { disabled = "disable", style = "width:150px" })
                <label>State</label>
                @Html.TextBoxFor(model => model.AccusedState, new { disabled = "disable", style = "width:50px" })
                <label>Zip</label>
                @Html.TextBoxFor(model => model.AccusedZip, new { disabled = "disable", style = "width:80px" })
                <label>Tel</label>
                @Html.TextBoxFor(model => model.AccusedTel, new { disabled = "disable", style = "width:100px" })
            </div>
        </div>
        <div class="row">
            <h3>Offense Info</h3>
        </div>
        <div class="row">
            <div class="col-md-10">
                <div class="form-group">
                    <label>Offense Name</label>
                    @Html.TextAreaFor(model => model.OffenseName, new { disabled = "disable", style = "width:400px" })
                    <label>Offense Type</label>
                    @Html.TextBoxFor(model => model.OffenseType, new { disabled = "disable", style = "width:80px" })
                </div>
            </div>
        </div>
        <div class="row">
            <h3>Served Info</h3>
        </div>
        <div class="row">
            <div class="form-group">
                <label>Served Times</label>
                @Html.TextBoxFor(model => model.ServedTimes, new {disabled = "disable", style = "width:50px"})
                <label>Served Date</label>
                @Html.TextBoxFor(model => model.ServedDate, new {disabled = "disable"})
                <label>Result</label>
                @Html.DropDownListFor(m => m.Result, listItemsResult, new {disabled = "disable"})
                <label>Served</label>
                @Html.DropDownListFor(m => m.IsServed, listItemsIsServed, new {disabled = "disable"})
                <label>Served By</label>
                @Html.TextBoxFor(model => model.ServedBy, new {disabled = "disable"})
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label>Comments</label>
                @Html.TextAreaFor(model => model.Comments, new { disabled = "disable", rows = "5", cols = "200" })
            </div>
        </div>
        <div class="row">
            <div class="col-ms-5">
                <div class="form-group">
                    @Html.ActionLink("Edit", "NewServe", new { WarrantNo = ViewBag.EditWarrantNo })
                </div>
                <div class="form-group">
                    @Html.ActionLink("Log Off", "Login", "Account")
                </div>
            </div>
        </div>
    </div>
}
