@model PoliceServeSystem.ViewModels.ServedStatusDetail
@{
    ViewBag.Title = "Officer Served System";

    var listItemsIsServed = new List<SelectListItem>
    {
        new SelectListItem
        {
            Text = "-Select-",
            Value = "-Select-",
            Selected = true
        },
        new SelectListItem
        {
            Text = "Yes",
            Value = "Yes"
        },
        new SelectListItem
        {
            Text = "No",
            Value = "No"
        }
    };
    var listItemsResult = new List<SelectListItem>
    {
        new SelectListItem
        {
            Text = "-Select-",
            Value = "-Select-",
            Selected = true
        },
        new SelectListItem
        {
            Text = "Moved",
            Value = "Moved"
        },
        new SelectListItem
        {
            Text = "Run away",
            Value = "Run away"
        },
        new SelectListItem
        {
            Text = "Not home",
            Value = "Not home"
        },
        new SelectListItem
        {
            Text = "Other",
            Value = "Otherr"
        }
    };
}
<link href="~/Content/css/jquery.signaturepad.css" rel="stylesheet" type="text/css" />
@*<link href="~/Content/css/jquery.signature.css" rel="stylesheet" type="text/css" />*@

<div>
    <div class="row">
        <h3>Serve Status</h3>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label>WarrantNo</label>
                @Html.TextBoxFor(m => m.WarrantNo, new { @class = "form-control", disabled = "disabled" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Serve Attempt#</label>
                @Html.TextBoxFor(m => m.ServedTimes, new { @class = "form-control", disabled = "disabled" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label>Result</label>
                @Html.DropDownListFor(m => m.IsServed, listItemsResult)
            </div>
        </div>
        <div class="col-sm-1">
            <div class="form-group">
                <label>Served</label>
                @Html.DropDownListFor(m => m.IsServed, listItemsIsServed)
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Served By</label>
                @Html.TextBoxFor(m => m.ServedBy, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label>Accused Sign</label>
            <div class="modal-body">
                <form class="sigPad" id="JudgeSign">
                    <canvas class="pad" width="500" height="200" id="signCanvas" style="border: 1px solid grey;"></canvas>
                    <input type="hidden" name="output" class="output" id="signHdn0">
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="form-horizontal">
                <input id="btnClear" type="button" value="Clear" class="btn btn-info" />
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Content/assets/plugins/jquery-1.10.2.min.js"></script>
    <script src="~/Content/js/jquery.signaturepad.js"></script>
    <script src="~/Content/js/json2.js"></script>

    <script>
        var sign;
        $(document)
            .ready(function() {
                sign = $('.sigPad')
                    .signaturePad({
                        drawOnly: true,
                        penColour: 'black'
                    });
            });

        $('#btnClear')
            .click(function() {

                sign.clearCanvas();
            });
    </script>
    @*<script>
        function SaveSign() {

            var casenumber = '@Model.CaseNo';
            $.ajax({
                url: '@Url.Action("SaveSign", "Served")',
                type: 'POST',
                cache: false,
                data: { sign: sign, CaseN: '@Model.CaseNo', SignMode: id, AccusedNo: "1", OffenseNo: "1" },
                success: function (result) {
                    if (result === "SignOut") { SignOut(); return false; }
                    if (result === false) {
                        document.getElementById("lblNotifyMsg").innerText = "Data is not saved : Error in saving data.";
                        $("#SaveValidation").modal({ show: true });
                    }
                    else {
                        if (id === 0) {
                            for (var ii = 0; ii < $("table.OffenseTable tbody tr td label").length; ii++) {
                                $("table.OffenseTable tbody tr td label")[ii].innerText = "Issued";
                            }
                            $('#JudgeSign').signaturePad().clearCanvas();
                        }
                        else {
                            $('#OffecerSign').signaturePad().clearCanvas();
                        }
                        document.getElementById("lblNotifyMsg").innerText = 'Saved successfully : For Case No - ' + casenumber + '.';
                        $("#SaveValidation").modal({ show: true });
                    }
                    return false;
                }
            });
        }

        function SignOut() {
            //var url = 'Url.Action("Login", "Account")';
            window.location.href = "../Account/Login";
        }
    </script>*@

}


