@model PoliceServeSystem.ViewModels.ServedStatusDetail
@{
    ViewBag.Title = "Officer Served System";

    var listItems = new List<SelectListItem>
    {
        new SelectListItem
        {
            Text = "-Select-",
            Value = "0",
            Selected = true
        },
        new SelectListItem
        {
            Text = "Yes",
            Value = "1"
        },
        new SelectListItem
        {
            Text = "No",
            Value = "2"
        }
    };
    var warrantNo = ViewBag.WarrantNo;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="row">
            <h3>Serve Status</h3>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label>WarrantNo</label>
                    @Html.TextBoxFor(m => m.WarrantNo, new { @class = "form-control", @Value=warrantNo, disabled="disable" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>Serve Attempt#</label>
                    @Html.TextBoxFor(m => m.ServedTimes, new { @Value=0, @class = "form-control", disabled="disabled" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>DateTime</label>
                    @Html.TextBoxFor(m => m.ServedDate, new { @Value=DateTime.Now, @class = "form-control" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Result</label>
                    @Html.TextAreaFor(m => m.Result, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-sm-1">
                <div class="form-group">
                    <label>Served</label>
                    @Html.DropDownListFor(m => m.IsServed, listItems, "-Select-")
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>Served By</label>
                    @Html.TextBoxFor(m => m.ServedBy, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="form-horizontal">
                    <input id="btnClear" type="button" value="Clear" class="btn btn-info" />
                    <input type="submit" value="Save" class="btn btn-success" />
                </div>
            </div>
        </div>
    </div>
}
